@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<h1 style="font-family: Cairo">@ViewData["Title"]</h1>
<p style="font-family: Cairo; padding-left: 100px;">
    Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
</p>
<br />
<br />
<br />
